@charset "utf-8";

body {
 margin: 0;
 padding: 0px;
 font-family: Arial, sans-serif;
}

.highlight-text {
  color: #85151b;
  font-weight: bold;
}	




/* ----- Section links ----- */	

#section-link-travel {
  display: flex;
  align-items: center;
  justify-content: center;	
  padding: 8px 10px;
  background-color: #85151b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#section-link-travel:hover {
  background-color: white;
  color: #85151b;
}

#section-link-fashion {
  display: flex;
  align-items: center;
  justify-content: center;	
  padding: 8px 10px;
  background-color: #85151b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#section-link-fashion:hover {
  background-color: white;
  color: #85151b;
}	

#section-resume-download {
  display: flex;
  align-items: center;
  justify-content: center;	
  padding: 8px 10px;
  background-color: #85151b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#section-resume-download:hover {
  background-color: white;
  color: #85151b;
}	

#section-link-interiors {
  display: flex;
  align-items: center;
  justify-content: center;	
  padding: 8px 10px;
  background-color: #85151b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#section-link-interiors:hover {
  background-color: white;
  color: #85151b;
}	




/* ----- Container ----- */	

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px;
}

.header img {
  max-width: 100%;
  height: auto;
}

.profile-container {
  position: relative;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid white;
  background-image: url('./image/avatar.jpg');
  background-size: cover;
  margin-left: 20px;
}

.profile-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-weight: bold;
  font-size: 32px;
  margin-top: 60px;
}

.profile-profession {
  font-size: 18px;
  margin-top: 1px;
}

.profile-tagline {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.profile-links {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
  transition: opacity 0.3s;
}

.profile-link.link1 {
  background-image: url('./image/linkedin.png');
}

.profile-link.link2 {
  background-image: url('./image/instagram.png');
}

.profile-link.link3 {
  background-image: url('./image/book.png');
}

.profile-link.link4 {
  background-image: url('./image/contact.png');
}	
	
.profile-link:hover {
  opacity: 0.7;
}
	
.content {
  padding: 20px;
  text-align: left;
}

.content p {
  font-size: 20px;
  display: block;
  margin-bottom: 35px;
}




/* ----- Parallax ----- */	

.parallax-content {
  font-size: 48px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.parallax1 {
  background-image: url('./image/fashion.jpg');
}

.parallax2 {
  background-image: url('./image/interior.jpg');
}

.parallax3 {
  background-image: url('./image/technology.jpg');
}
	
.parallax4 {
  background-image: url('./image/socials.jpg');
}

.parallax5 {
  background-image: url('./image/reading.jpg');
}
	
.parallax6 {
  background-image: url('./image/travel.jpg');
}	




/* ----- Overlay pop-ups ----- */	

.overlay { /* ----- Overlay for "Travel Parallax" */
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-height: 80%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.overlay-content-container {
  padding: 40px;
  max-height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
}
	
.overlay2 { /* ----- Overlay for "Contact Profile Link" */
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-height: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.overlay2-content-container {
  padding: 40px;
  max-height: 100%;
}

.centered-content iframe { /* ----- Center contact form in "Contact Profile Link Overlay" */
  width: 625px;
  height: 725px;
}	

.close-button { /* ----- Overlay close button option */
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
}

.close-button2 { /* ----- Overlay close button option */
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: black;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




/* ----- Embedded video "Polaroids" in "Travel Parallax Overlay" ----- */

.video-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video-column {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.video-polaroid {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 1px 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  text-align: center;
  height: 230px;
}

.video-title {
  text-align: center;
  margin: 6px 0;
  font-weight: bold;
  font-size: 12px;
  color: #333;
}




/* ----- Resume design in "Contact Overlays" ----- */

.resume {
  margin-bottom: 20px;
  color: white;
}

.section-header {
  font-weight: bold;
  font-size: 1.2em;
}

.job-title {
  font-weight: bold;
 }

 .job-dates {
   font-weight: normal;
}

.job-description {
  margin-left: 20px;
 }

 .accomplishments {
   margin-left: 20px;
}

.education {
  margin-top: 40px;
}

.education-header {
  font-weight: bold;
  font-size: 1.2em;
}

.education-details {
  margin-left: 20px;
}	




/* ----- Media query for smaller screens ----- */

@media (max-width: 768px) {
.container {
  padding: 0 10px;
}

.header {
  height: auto;
}	  
	  
.profile-container {
  margin-top: -50px;
  text-align: center;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-photo {
  width: 80px;
  height: 80px;
  margin-bottom: -40px;
}

.profile-info {
  margin-left: 0;
  margin-top: 10px;
}

.profile-name {
  font-size: 20px;
}

.profile-profession {
  font-size: 14px;
  margin-top: 5px;
}

.profile-tagline {
  font-size: 12px;
  margin-top: 5px;
}

.profile-link {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
	  
.profile-links {
  justify-content: center;
}

.overlay {
  width: 400px;
  max-height: 70%;
}

.overlay2 {
  width: 400px;
  max-height: 70%;
}	
	
.video-row {
  flex-direction: column;
}

.video-column {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.video-polaroid {
  height: auto;
  margin: 10px 0;
}
.video-polaroid iframe {
  width: 100%;
  height: auto;
}	
}




/* ----- Gallery/Lightbox in "Interiors Parallax Overlay" ----- */

.gallery-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.gallery-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.gallery-item {
  width: calc(25% - 5px);
  overflow: hidden;
  position: relative;
}

.gallery-item img { /* ----- Square thumbnails in gallery */
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

.lightbox-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  overflow: auto;
  text-align: center;
}

.lightbox-content {
  display: inline-block;
  max-width: 90%;
  max-height: 90%;
  margin: 20px auto;
}

.lightbox-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%; 
  padding: 10px; 
  transition: background-color 0.3s; 
}

.prev-button {
  left: 20px;
}

.next-button {
  right: 20px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}




/* ----- Footer/Footer Links ----- */	

.footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
}

.footer-links a:hover {
  color: #85151b;
  text-decoration: underline;
}